.star {
  height: 10px;
  width: 10px;
}
.product-card {
  max-width: 300px;
  margin: auto;
}

#result:empty{
  padding: 0;
  height: 0;
}
#result {
  scrollbar-width: none;
  width: 100%;
  height: 70vh;
  border-radius: 8px;
  overflow-y: scroll;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-top: 10px;
  text-align: justify;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  
}

.star {
  width: 20px;
  height: 20px;
}

.mb-0 {
  margin-bottom: 0;
}
.col-md-8{
  justify-content: center;
  align-items: center;
}
.info-btn{
  width: 50%;
}



@media screen and (width <= 992px) {
  #result{
    height: fit-content;
  }
  .product-info{
    display: block;
  }
}