.bodysection{
   width: 100%;
   height: 100%;
}
.bg {
  background-image: url("../assets/Images/background_12.jpg");
  background-size: cover;
  width: 100vw;
  height: 100%;
  margin-top: -30px;
}
.aboutimg {
  width: 10%;
  height: auto;
  display: flex;
  float: right;
  margin: 40px 0px 0 0;
}
.about_1 {
  margin: 30px;
  padding: 5px;
}
.about_1 h1 {
  text-align: center;
  color: #730000;
  font-weight: bold;
  margin-left: 50px;
}
.about_1 p {
  text-align: center;
  padding: 3px;
  color: orange;
  justify-items: center;
  width: 50%;
  margin-left: 430px;
  margin-top: 40px;
}
.about-item {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: orange;
  padding: 60px 20px;
  box-shadow: 0 0 9px rgba(0 0 0 0.6);
  color: #730000;
}
.about-item i {
  font-size: 43px;
  margin: 0px;
}
.about-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
.about-item hr {
  width: 46px;
  height: 3px;
  background-color: #ffcb74;
  margin: 0 auto;
  border: none;
}
.about-item p {
  margin: 20px;
}
.about-item:hover {
  background-color: white;
}
