img{
   height:auto;
   width: 70%;
}
.offers-left{
padding-top: 8%;
padding-left: 8%;
}
.Offers{
   background: #EDE8E4;
}
.check-now-btn{
   background-color:orange;
   color: white;
   padding-inline: 5%;
   padding-block: 1%;
   border-radius: 20px;
}
.font{
   font-family:"Prata", serif;
   font-size: 30px;
   color: orange;
}